<div class="title-panel">
  <div class="btns-card" style="position: absolute;">
    
    <%= link_to company_clients_path(@current_company), class: "btn-card", style: "float: left;" do %>
      <ion-icon name="arrow-back"></ion-icon>
    <% end %>

    <div class="btn-card top-scroll"></div>
      <div class="btn-card btn-show-list">   
        <div class="panel-show" style="left: auto; right: 10px;">
          <%= link_to 'Вернуться к списку', company_clients_path %>
        </div>
      </div>

	</div>
    <% if (@client.role.to_i & Client::Role::CLIENT) > 0 %>
      <div class="title-card">Добавление клиента</div>
    <% else %>
      <div class="title-card">Добавление сотрудника</div>
    <% end %>
</div>

<%= render 'form', client: @client %>