<div class="card">
  <div class="title-panel">
    <div class="btns-card">
      <div class="btn-closed-card" @click="closeAddService"></div>
      <div class="btn-home"></div>
    </div>
    <div class="title-card">Добавить услугу</div>
  </div>
  
  <div class="conten-card">   
    <div class="information-section">
      <div class="block-information">
        <input class="inpot-panel" type="text" placeholder="Название*" />
      </div>
    </div>
    <input type="submit" name="" class="btn icon-confirm" @click="createService">
    
  </div>
</div>