<div class="card">
  <div class="title-panel">
    <div class="btns-card">
      <div class="btn-closed-card" @click="closeAddClient"></div>
      <div class="btn-home"></div>
    </div>
    <div class="title-card">Добавление клиента</div>
  </div>
  
  <div class="conten-card">   
    <div class="information-section">
      <div class="block-information">
        
        <div class="add-avatar"><div class="icon-add-avatar"></div></div>
        
        <input class="inpot-panel" type="text" placeholder="Фамилия*" />
        <input class="inpot-panel" type="text" placeholder="Имя*" />
        <input class="inpot-panel" type="text" placeholder="Отчество" />
      </div>
      
      <div class="block-information">
        <input class="inpot-panel" type="date" placeholder="Дата рождения" />
        <select class="inpot-panel" id="" name="" placeholder="Пол">
          <option value="man">мужской</option>
          <option value="woman">женский</option>
        </select>
        <input class="inpot-panel" type="text" placeholder="Телефон" />
      </div>
    </div>
    <input type="submit" name="" class="btn icon-confirm" @click="createClient">
    
  </div>
</div>