<div class="card">
  <div class="btms-card">
    <div @click="closeClientInfo" class="btm-closed-card"></div>
    <span @click="removeClient">Remove</span>
  </div>
  <div class="name-card">Клиенты</div>
  <img class="img-card" src="/resources/no-image-available.png" />
  <div class="title-card">{{`${first_name} ${last_name} ${patronymic}`}}</div>
  <div class="balance">Задолжность <span class="amount debt">1 000 ₽</span></div>
  <div class="sections-card">
    <div class="items-sections-card">
      <div class="item-sections-card active-item-sections-card">Информация</div>
      <div class="item-sections-card">Журнал посещений</div>
      <div class="item-sections-card">Финансовые операции</div>
      <div class="item-sections-card">Абонементы</div>
      <div class="item-sections-card">Курсы</div>
      <div class="item-sections-card">Сделки</div>
      <div class="item-sections-card">Скидки</div>
      <div class="item-sections-card">Логи</div>
    </div>
  </div>
  <div class="item-info">
    <div class="title-item-info">Дата рождения</div>
    <div class="text-item-info">{{birthday}}</div>
  </div>
  <div class="item-info">
    <div class="title-item-info">Пол</div>
    <div class="text-item-info">мужской</div>
  </div>
  <div class="item-info">
    <div class="title-item-info">Телефон</div>
    <div class="text-item-info">{{phone_number}}</div>
  </div>
  <div class="item-info">
    <div class="title-item-info">Источник</div>
    <div class="text-item-info">Наружняя реклама</div>
  </div>
</div>
