<div class="card">
  <div class="btms-card">
    <div @click="closeServiceInfo" class="btm-closed-card"></div>
    <div @click="removeService" class="btn-card icon-delete"></div>
  </div>
  <div class="name-card">Услуга</div>
  <div class="title-card">{{name}}</div>
</div>
