<div class="title-panel">
	<div class="btns-card">
	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>    
	  <div class="btn-card btn-show-list">
	      <div class="panel-show">
	        <%= link_to 'Вернуться к списку', company_services_path %>
	      </div>
	    </div>
	</div>
    <div class="title-card">Добавление услуги</div>
</div>

<%= render 'form', service: @service %>