<div class="title-panel">
	<div class="btns-card">
	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>
	</div>
    <div class="title-card">Редактирование услугу</div>
</div>

<%= render 'form', service: @service %>

<%= link_to 'Back', company_services_path %>
