<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>


<%= link_to 'Edit', edit_company_service_path(@service.company, @service) %> |
<%= link_to 'Back', company_services_path %>
