<div class="btns-card">
  <a href="/" title="Закрыть" class="btn-card icon-closed-card"></a>
  <a href="/" title="На главную" class="btn-card icon-home"></a>
  <!-- <div href="/" title="Сортировка списка" class="btn-card icon-sorting"></div> -->
</div>

<!-- <div class="panel-sorting">
  Сортировка списка
</div> -->
<!-- <input class="card-search" type="text" placeholder="Поиск филиала..."> -->

<div class="conten-card">
  <% if @current_affiliates.present? %>
    <div class="menu-with-options">
      <div class="option active">Все филиалы <%= @current_affiliates.size %></div>
    </div>
    <div class="cont-category-book">

    <div class="tab-category information-section">
      <% @current_affiliates.each do |affiliate| %>
        <%= link_to [affiliate.company, affiliate], class: "item-card" do %>
          <div class="left-content">
            <div class="name-content"><%= affiliate.name %></div>
            <span class=""><span style="margin-right: 2px;">Прибыль за месяц</span> <span class="amount">1 441 000 ₽</span></span>
          </div>
          <div class="right-content">
            <div class="people-on-course">121<img src="/images/visitors1.png"></div>
          </div>
        <%end%>
      <% end %>
    </div>
    </div>
  <% else %>
    <div class="loading-block">
      <div>
        <div>Нет филиалов</div>
      </div>
    </div>
  <% end %>
</div>