<div style="display: none;" class="authorization">
  <div class="panel-authorization">
    <a class="logo_dream"></a>
    <input class="input-authorization" placeholder="Введите почту" autocomplete="email" type="email" value="" name="user[email]" id="user_email" />
    <input class="input-authorization" placeholder="Фамилия" style="width: 125px; margin-right: 5px;" type="text" name="user[last_name]" id="user_last_name" />
    <input class="input-authorization" placeholder="Имя" style="width: 125px; margin-left: 5px;" type="text" name="user[first_name]" id="user_first_name" />
    <input class="input-authorization" placeholder="Пароль" autocomplete="off" type="password" name="user[password]" id="user_password" />
    <input class="input-authorization" placeholder="Подтверждение пароля" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
    <input class="button-authorization" placeholder="Зарегистрироваться" type="submit" />
  </div>
</div>
