<div class="footer">
  <div class="other-sections">
    <a href="#">О сервисе</a>
    <a href="#">Поддержка</a>
    <a href="#">Блог</a>
    <a href="#">Новые функции</a>
    <a href="#">Исправить или добавить функции</a>
    <a href="#">Оставить отзыв</a>
  </div>
  <span class="copyright">© 2018 Учет++</span>
</div>