<div class="left-side">
  <a href="/" class="logo">
    <span class="version-of-service">alpha</span>
    <img src="/images/logo_dream.png" />
  </a>
  <span class="name-company">Название организации</span>

  <div class="admin-usage">
    <a href="#" class="avatar-admin-usage"><img src="/resources/no-image-available.png" /></a>
    <div class="btms-admin-usage">
      <div class="btm-admin-usage">
        <div class="number-notifications">9</div>
        <img src="/images/Check List-WF.png" />
      </div>
      <div class="btm-admin-usage">
        <img src="/images/User Add-01-WF.png" />
      </div>
      <div class="btm-admin-usage">
        <div class="number-notifications">1</div>
        <img src="/images/Chat-01-WF.png" />
      </div>
      <div class="btm-admin-usage">
        <img src="/images/Bell New-WF.png" />
      </div>
    </div>
  </div>

  <ul class="menu">
    <li class="item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-workplace"></div><span>Рабочий стол</span></a></li>
    <li class="item-menu active-item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-customers"></div><span>CRM</span></a></li>
    <li class="item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-organization"></div><span>Компания</span></a></li>
    <li class="item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-abacus"></div><span>Финансы</span></a></li>
    <li class="item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-product"></div><span>Склад</span></a></li>
    <li class="item-menu"><a href="#" class="link-item-menu"><div class="icons-item-menu icon-statistics"></div><span>Вся аналитика</span></a></li>
  </ul>

  <%=render 'shared/footer'%>
</div>