<div class="panel-header">
  <div class="title-panel">Скидки и коррекция цены</div>
  <div class="show-panel">Показать все</div>
</div>
<div class="list-panel">
  <div class="item-panel">
    <div class="left-item-panel">Оплата за абонемент от 23 октября...</div>
    <div class="right-item-panel green">6000.0 ₽</div>
  </div>
</div>