<section-client-panel-info :client="client" :records="recordsClient" :no_records="selectRecordsClient" :show="panelShow"></section-client-panel-info>

<section-client-records :records="recordsClient" :show="panelShow"></section-client-records>

<section-client-transactions :transactions="clientTransactions" :show="panelShow"></section-client-transactions>

<section v-if="panelShow == 'client'" id="client-discounts" class='panel-content'>
  <%= render 'clients/client_discounts' %>
</section>