<script type="text/javascript">
  Vue.component('section-client-records', {
    data: function () {
      return {
        loadingCancel: false,
        loadingRecalculation: false,
        recordClientId: null,
        note: '',
        noteRecalculation: '',
        newPriceSub: null,
        subClientId: null,

        showNoteCancel: false,
        showNoteSubRecalculation: false,

        showAll: false,
        lastShowAll: false,
      }
    },
    props: {
      client: Object,
      search_r: String,
    },
    methods: {
      cancelSubscriptionClient(sub) {
        let {subscriptions, client, clientTransactions} = vmClient;
        let {note} = this;
        var complited = false;

        if(!this.loadingCancel) {
          this.loadingCancel = true;

          setTimeout(() => {
            $.ajax('/subscriptions/' + sub.id +'/cancel.json', {
              method: 'DELETE',
              data: {
                authenticity_token: authToken,
                note: note,
              },
              success: messege => {
                complited = messege.complited;
                vmNotifications.notifications.unshift(messege);
              },
              error: e => console.warn('error', e)
            }).done(e => {
              if(complited) {
                let index = subscriptions.findIndex(s => s.id == sub.id);
                subscriptions[index].is_active = false;
                
                client.unpaid_debt_subs = client.unpaid_debt_subs - sub.price;

                vmClient.clientTransactions = clientTransactions.filter(function(t) {
                  if(t.operation_id == sub.operation_id) {
                    client.total_amount = client.total_amount - t.amount;
                  }
                  else {
                    return t;
                  }
                });
                this.note = '';
                this.showNoteCancel = false;
                // отменять все транзакции у которых такой оператион
              }
              this.loadingCancel = false;
            });
          }, 600);
        }
      },
      recalculationSubscriptionClient(sub, index) {
        let {subscriptions, client, clientTransactions} = vmClient;
        let {showNoteSubRecalculation, newPriceSub} = this;
        let complited = false;

        console.log(complited);

        if(!this.loadingRecalculation) {
          this.loadingRecalculation = true;

          setTimeout(() => {
            $.ajax('/subscriptions/' + sub.id +'/recalculation.json', {
              method: 'POST',
              data: {
                authenticity_token: authToken,
                note: showNoteSubRecalculation,
                price: newPriceSub,
              },
              success: messege => {
                console.log(messege);
                complited = messege.complited;
                vmNotifications.notifications.unshift(messege);
              },
              error: e => console.warn('error', e)
            }).done(e => {
              if(complited) {
                let index = subscriptions.findIndex(s => s.id == sub.id);

                client.unpaid_debt_subs = client.unpaid_debt_subs - subscriptions[index].price + parseInt(newPriceSub);

                subscriptions[index].price = newPriceSub;
              }
              this.loadingRecalculation = false;
            });
          }, 600);
        }
      },
      getSubscription(record_client) {
        var currentDate = new Date();

        var subs = this.clientSubscriptions.filter(function(sub) {
          if(sub.record_client_id == record_client.record_client_id) {
            var start_date = new Date(sub.start_at);
            var finish_date = new Date(sub.finish_at);

            if(start_date <= currentDate && currentDate <= finish_date) {
              return sub;
            }
          }
        });

        if(subs.length > 0) {
          var day = Math.ceil((new Date(subs[0].finish_at) - new Date())/ (1000 * 3600 * 24));
          if(day < 0)
            day = 0;
          return 'осталось ' + day + ' дн.';
        }
        else {
          return 'нет абонемента';
        }
      },
      clickRecordClientActive(id) {
        if(this.recordClientId != id)
          this.recordClientId = id;

        else if(this.recordClientId != null)
          this.recordClientId = null;

        else 
          this.recordClientId = id;
      },
      clickRecord(record) {
        vmClient.clickRecord(record);
      },
      date(date) {
        return totalDate(date, true, true, true);
      },
      statusSubsctiption(start, finish) {
        var currentDate = new Date();
        var start_date = new Date(start);
        var finish_date = new Date(finish);

        if(start_date <= currentDate && currentDate <= finish_date) {
          return 'Текущий абонемент';
        }
        else if(start_date > currentDate && currentDate < finish_date) {
          return 'Предстоящий абонемент';
        }
        else if(start_date > currentDate && currentDate < finish_date) {
          return 'Завершенный абонемент';
        }
      },
      currentSubsctiption(start, finish) {
        var currentDate = new Date();
        var start_date = new Date(start);
        var finish_date = new Date(finish);

        if(start_date <= currentDate && currentDate <= finish_date) {
          return 'current';
        }
      },
      clickSubActive(id) {
        if(this.subClientId != id)
          this.subClientId = id;

        else if(this.subClientId != null)
          this.subClientId = null;

        else 
          this.subClientId = id;
      },
    },
    watch: {
      showNoteCancel() {
        this.note = '';
      },
      search_r() {
        vmClient.search_r = this.search_r;

        clearTimeout(lastId);

        lastId = setTimeout(() => {
          let url = window.location.href;

          if(this.search_r == '') {
            let newUrl = deleteURLParameter(url, 'search_r');
            history.replaceState(this.search_r, this.search_r, newUrl);
          }
          else {
            let newUrl = updateURLParameter(url, 'search_r', this.search_r);
            history.replaceState(this.search_r, this.search_r, newUrl);
          }
        }, 600);

        if(this.search_r != '') {
          if(this.showAll == false) {
            this.lastShowAll = this.showAll;
            this.showAll = true;
          }
        }
        else if(this.search_r == '') {
          this.showAll = this.lastShowAll;
        }
      },
    },
    computed: {
      clientSubscriptions() {
        const k = 'start_at';
        const reverse = true;
        return vmClient.clientSubscriptions.sort((a, b) => (a[k] < b[k] ? -1 : a[k] > b[k] ? 1 : 0) * [1, -1][+reverse]);
      },
      recordsClient() {
        let {recordsClients} = vmClient;
        let {client} = this;

        return recordsClients.filter(function (rc) {
          if(rc.client_id == client.id) {
           return rc;
          }
        });
      },
      recordsSearch() {
        const s = validSpaces(this.search_r.toLowerCase());
        return this.recordsClient.filter(n => Object.values(n.name.split()).some(m => m.toString().toLowerCase().includes(s)));
      },
      services() {
        let {servicesCompany, recordsServices, client} = vmClient;

        return recordsServices.filter(function (record_service) {
          var service = servicesCompany.filter(function (service) {
            if(record_service.category_id == service.id) {
               return service;
            }
          });

          return Object.assign(record_service, service[0]);
        });
      },
    },
    template: `
      <section title='Все записи клиента' id="client-records" class="panel-content" :class="{ 'show-all': showAll}">
        <div title='Поиск записей' class="panel-header">
          <div class="title-panel">
            <img src="/images/_ionicons_svg_ios-search.svg" class='search-section-icon'>

            <input v-model="search_r" name="search_r" class='search-section' type="text" placeholder="Записи клиента" id="search_r" autocomplete="off" />

            <div v-if="search_r.length > 0" class="reset-search reset-search-section" @click="search_r = ''" >
              <ion-icon name="close"></ion-icon>
            </div>
          </div>
          <div v-if="recordsSearch.length > 3" @click="showAll = !showAll" class="btn show-panel">
            <div v-if="showAll == false">Еще</div>
            <div v-else-if="showAll == true">Скрыть</div>
          </div>
        </div>

        <div v-if="recordsClient.length <= 0" class="list-panel">
          <div class="no-record">Список пуст</div>
        </div>

        <div v-else-if="recordsSearch.length > 0" class="list-panel">

          <div :title='record.name'
            v-for="record in recordsSearch" 
            :class="['record-' + record.id, recordClientId == record.id ? 'active' : '', record.is_active ? '' : 'default-item' ]" 
            class="item-panel">
            
            <div @click="clickRecordClientActive(record.id)" class="item-panel__basic-info" style="cursor: pointer;">
              <div class="left-item-panel">

                <div class="item__btns">
                  <div @click="clickRecord(record)" class='btn-delete'>
                    <ion-icon name="open"></ion-icon>
                  </div>
                  <div class='btn-delete'>
                    <ion-icon name="arrow-dropdown"></ion-icon>
                  </div>
                </div>

                {{ record.name }}
              </div>
              <div class="right-item-panel">
                <div class="right-item-panel--no-hover">{{ getSubscription(record) }}</div>
                <div class="btn-hide btn">Скрыть</div>
              </div>
            </div>

            <div class="item-panel__total-info">

              <div class="btns">
                <button-subscribe v-bind:record="record" :client="client"></button-subscribe>
              </div>

              <div class="total-info__service">
                <span v-if="service.record_id == record.id" v-for="service in services" class="service__item">{{ service.name }}</span>
              </div>

              <div class="subscriptions">
                <div v-if="record.id == subs.record_id" v-for="(subs, index) in clientSubscriptions" class="subscription" :class="[ 'subscription-' + subs.id, subClientId == subs.id ? 'active' : '' ]">
                  <div class="data-subscriptions" :class="[ currentSubsctiption(subs.start_at, subs.finish_at) ]">

                    <div @click="clickSubActive(subs.id)">
                      <div>{{ statusSubsctiption(subs.start_at, subs.finish_at) }}</div>
                      <div>{{ date(subs.start_at) }} / {{ date(subs.finish_at) }}</div>
                    </div>

                    <div class="sub-desc">
                      <div :class="[ subs.total_amount == subs.price ? 'green-color' : 'red-color']">{{ subs.total_amount | money }} из {{ subs.price | money }} ₽</div>

                      <div v-if="showNoteCancel">
                        <textarea v-model="note" placeholder="Комментарий к отмене" class="textarea"></textarea>
                      </div>

                      <div class="btns" style="margin: 0;">
                        <button 
                          v-if="note != '' && showNoteCancel"
                          @click="cancelSubscriptionClient(subs)" 
                          v-bind:class="{ active: loadingCancel }" 
                          class="btn-subscribe btn">

                          <div class="btn__text">Отменить</div>
                          <div v-if="loadingCancel" class="container" style="width: 58px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 240.7 8.9" style="enable-background:new 0 0 240.7 8.9;" xml:space="preserve">
                            <path d="M232.1,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.8-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C172,4,168.6,0.2,163.5,0
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C103.4,4,100,0.2,95,0c-3.2-0.1-6.3,1.3-9.3,4.1
                              C83,6.8,80.1,8,77.2,7.9c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C69.2,4,65.7,0.2,60.7,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8
                              c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C34.9,4,31.5,0.2,26.4,0c-3.2-0.1-6.3,1.3-9.3,4.1C14.4,6.8,11.6,8,8.6,7.9C4,7.8,0.8,4.2,0.7,4.1
                              L0,4.8C0.1,5,3.5,8.8,8.6,8.9c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1C89.1,2.2,92,0.9,94.9,1c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.8,7.9,3.8l0.7-0.7
                              C240.5,4,237.1,0.2,232.1,0z"/>
                            </svg>
                          </div>
                        </button>

                        <button 
                          @click="showNoteCancel = !showNoteCancel" 
                          class="btn gray">
                          
                          <div v-if="showNoteCancel == false">Отмена</div>
                          <div v-if="showNoteCancel == true" class='btn-unsubscribe'>Не отменять</div>
                        </button>
                      </div>


                      <div v-if="showNoteSubRecalculation">
                        <input v-model="newPriceSub" type="number" placeholder="Пересчитанная сумма" />
                        <textarea v-model="noteRecalculation" placeholder="Комментарий к перерасчету" class="textarea"></textarea>
                      </div>

                      <div class="btns" style="margin: 0;">
                        <button 
                          v-if="noteRecalculation !== '' && showNoteSubRecalculation && newPriceSub.length > 0"
                          @click="recalculationSubscriptionClient(subs, index)" 
                          :class="{ active: loadingCancel }" 
                          class="btn-subscribe btn">

                          <div class="btn__text">Пересчитать</div>
                          <div v-if="loadingCancel" class="container" style="width: 58px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 240.7 8.9" style="enable-background:new 0 0 240.7 8.9;" xml:space="preserve">
                            <path d="M232.1,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.8-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C172,4,168.6,0.2,163.5,0
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                              c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C103.4,4,100,0.2,95,0c-3.2-0.1-6.3,1.3-9.3,4.1
                              C83,6.8,80.1,8,77.2,7.9c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C69.2,4,65.7,0.2,60.7,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8
                              c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C34.9,4,31.5,0.2,26.4,0c-3.2-0.1-6.3,1.3-9.3,4.1C14.4,6.8,11.6,8,8.6,7.9C4,7.8,0.8,4.2,0.7,4.1
                              L0,4.8C0.1,5,3.5,8.8,8.6,8.9c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1C89.1,2.2,92,0.9,94.9,1c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.7,7.9,3.8l0,0
                              c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.8,7.9,3.8l0.7-0.7
                              C240.5,4,237.1,0.2,232.1,0z"/>
                            </svg>
                          </div>
                        </button>

                        <button 
                          @click="showNoteSubRecalculation = !showNoteSubRecalculation" 
                          class="btn gray">
                          
                          <div v-if="showNoteSubRecalculation == false">Перерасчет</div>
                          <div v-if="showNoteSubRecalculation == true" class='btn-unsubscribe'>Назад</div>
                        </button>

                      </div>

                    </div>

                  </div> 
                </div>
              </div>

            </div>
          </div>

        </div>
        <div v-else-if="recordsSearch.length <= 0" class="list-panel">
          <div class="no-record">Ничего не найдено</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>
      </section>
    `
  });
</script>
