<script type="text/javascript">
  Vue.component('section-add-record', {
    data: function () {
      return {
      }
    },
    props: {
      records: Array,
      client: Object,
      show: String,
    },
    methods: {
    },
    watch: {
    },
    computed: {
      no_records() {
        let {recordsClients} = vmClient;
        let {records, client} = this;
        
        return records.filter(function (r) {
          let rc = recordsClients.filter(function (rc) {
            if(r.id == rc.id && rc.is_active == false && rc.client_id == client.id) {
              return rc;
            }
          });
          console.log(rc);
          if(rc.length <= 0)
            return r;
        });
      },
    },
    template: `
      <section v-if="show == 'addRecordClient'" class="panel-add show-all">
        <h2 class="panel-form__title">
          <div @click="$emit('open-pnl-add')" class="btn-back new-btn">
            <ion-icon name="arrow-back"></ion-icon>
          </div>
          <span>Запись клиента в группу</span>
        </h2>

        <div v-if="no_records.length != 0" >
          <input type="hidden" id="authenticity_token" value="<%=form_authenticity_token%>">
          <div v-for="record in no_records" class="item-panel">
            <div class="item-panel__basic-info">
              <div class="left-item-panel">{{ record.name }}</div>
              <div class="right-item-panel">
                <button-subscribe :record="record" :client="client"></button-subscribe>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="no-record">Нет групп для записи</div>
        </div>
        <a href="/records/new" class="btn-add btn">+ Создать группу</a>
      </section>
    `
  });
</script>