<script type="text/javascript">
  Vue.component('section-client-discounts', {
    data: function () {
      return {
        showAll: false,
        discountClientId: null,
      }
    },
    props: {
    },
    methods: {
      clickActive(id) {
        let {client} = vmClient;

        if(this.discountClientId != id)
          this.discountClientId = id;

        else if(this.discountClientId != null)
          this.discountClientId = null;

        else 
          this.discountClientId = id;
      },
      dateDay(date) {
        var day = Math.ceil((new Date(date) - new Date())/ (1000 * 3600 * 24));
        if(day < 0)
          day = 0;
        return day;
      },
      date(date) {
        return dateInWords(date, false);
      },
      percent(price_record, price_discount) {
        var percent = 0;
        if(price_record != 0)
          percent = price_discount / price_record * 100 - 100;

        return '(' + percent.toFixed(2) + '%)';
      },
    },
    watch: {
    },
    computed: {
      discountsClient() {
        let {recordsClients, client, discounts, records} = vmClient;

        var recordsClient = recordsClients.filter(rc => rc.client_id == client.id);
        return discounts.filter(function (d) {
          var indexRecordClient = recordsClient.findIndex(rc => rc.record_client_id == d.record_client_id);

          if(indexRecordClient >= 0) {
            var indexRecord = records.findIndex(r => r.id == recordsClient[indexRecordClient].id);
            var nameRecord = records[indexRecord].name;
            var price = records[indexRecord].total_price_abon;

            return Object.assign(d, {price_record: price, name_record: nameRecord});
          }
        });
      },
    },
    template: `
      <section id="client-records" class="panel-content" :class="{ 'show-all': showAll}">
        <dfn data-info="Все скидки клиента">
          <div class="panel-header">
            <div class="title-panel">Скидки и коррекция цены</div>
            <div v-if="discountsClient.length > 3" @click="showAll = !showAll" class="btn show-panel">
              <div v-if="showAll == false">Показать все</div>
              <div v-else-if="showAll == true">Скрыть список</div>
            </div>
          </div>
        </dfn>
        <div v-if="discountsClient.length > 0" class="list-panel">

          <div 
            v-for="discount in discountsClient" 
            :class="['discount-' + discount.id, discountClientId == discount.id ? 'active' : '', dateDay(discount.finish_at) == 0 ? 'default-item' : '' ]" 
            class="item-panel">
            
            <div @click="clickActive(discount.id)" class="item-panel__basic-info" style="cursor: pointer;"
              :title='discount.name_record + " на " + dateDay(discount.finish_at) + " дн."'>
              <div class="left-item-panel">

                <div class="item__btns">
                  <div class='btn-delete'>
                    <ion-icon name="arrow-dropdown"></ion-icon>
                  </div>
                </div>

                {{ discount.name_record }} на {{ dateDay(discount.finish_at) }} дн.
              </div>
              <div class="right-item-panel">
                <div class="right-item-panel--no-hover">
                  <span class="green-color">{{ discount.value | money }} ₽</span>
                  <span>{{ percent(discount.price_record, discount.value) }}</span>
                </div>
                <div class="btn-hide btn">Скрыть</div>
              </div>
            </div>

            <div class="item-panel__total-info">
              <div style="margin-left: 10px;">
                <div class="item-info">
                  <div class="title-item-info">Сумма (процент скидки)</div>
                  <div class="content-item-info"><span class="green-color">{{ discount.value | money }} ₽</span> <span>{{ percent(discount.price_record, discount.value) }}</span>
                  </div>
                </div>
                <div class="item-info">
                  <div class="title-item-info">Дата начала</div>
                  <div class="content-item-info">
                    {{ date(discount.start_at) }}
                  </div>
                </div>
                <div class="item-info">
                  <div class="title-item-info">Дата завершения</div>
                  <div class="content-item-info">
                    {{ date(discount.finish_at) }}
                  </div>
                </div>
                <div class="item-info">
                  <div class="title-item-info">Комментарий</div>
                  <div class="content-item-info">
                    {{ discount.note }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div v-else-if="discountsClient.length <= 0" class="list-panel">
          <div class="no-record">Список пуст</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>

        <button style="margin-top: 0px; padding-bottom: 10px;" class="btn-add btn">+ Добавить</button>
      </section>
    `
  });
</script>
