<script type="text/javascript">
  Vue.component('section-home-affiliates', {
    data: function () {
      return {
        showAll: false,
        lastShowAll: false,
      }
    },
    props: {
      affiliates: Array,
      show: String,
      search_a: String,
    },
    methods: {
      addFiltration(affiliate) {
        vmClient.addElementFiltration(affiliate.id, 'a');
      },
      clickRecord(record) {
        vmClient.clickRecord(record);
      },
      deleteParamsFiltration(id) {
        let index = vmClient.filtrationElements.findIndex(e => e.id == id);

        vmClient.deleteParamsFiltration(index, id, 'a');
      },
    },
    watch: {
      search_a() {
        clearTimeout(lastId);

        lastId = setTimeout(() => {
          let url = window.location.href;

          if(this.search_a == '') {
            let newUrl = deleteURLParameter(url, 'search_a');
            history.replaceState(this.search_a, this.search_a, newUrl);
          }
          else {
            let newUrl = updateURLParameter(url, 'search_a', this.search_a);
            history.replaceState(this.search_a, this.search_a, newUrl);
          }
        }, 600);

        if(this.search_a != '') {
          this.lastShowAll = this.showAll;
          this.showAll = true;
        }
        else if(this.search_a == '') {
          this.showAll = this.lastShowAll;
        }
      },
    },
    computed: {
      affiliatesSearch() {
        const s = validSpaces(this.search_a.toLowerCase());
        return this.affiliates.filter(n => Object.values(n.address.split()).some(m => m.toString().toLowerCase().includes(s)));
      }
    },
    template: `
      <section v-if="show == 'home'" class='panel-content' :class="{ 'show-all': showAll}">
        <div class="panel-header">

          <div class="title-panel">
            <img src="/images/_ionicons_svg_ios-search.svg" class='search-section-icon'>

            <input v-model="search_a" name="search_a" class='search-section' type="text" placeholder="Филиалы" id="search_a" autocomplete="off" />

            <div v-if="search_a.length > 0" class="reset-search reset-search-section" @click="search_a = ''" >
              <ion-icon name="close"></ion-icon>
            </div>
          </div>

          <div v-if="affiliatesSearch.length > 3" @click="showAll = !showAll" class="btn show-panel">
            <div v-if="showAll == false">Еще</div>
            <div v-else-if="showAll == true">Скрыть</div>
          </div>
        </div>

        <div v-if="affiliates.length <= 0" class="list-panel">
          <div class="no-record">Список пуст</div>
        </div>

        <div v-if="affiliatesSearch.length > 0" class="list-panel cool-scrollbar">

          <div  v-for="affiliate in affiliatesSearch" 
                :class="['affiliate-' + affiliate.id, 
                  affiliate.status == 'active' ? 'active-item' : '', 
                  affiliate.status == 'current' ? 'current-item' : '', 
                  affiliate.status == 'default' ? 'default-item' : '']" 
                class="item-panel">
            
            <div class="item-panel__basic-info">
              <div class="left-item-panel" style="white-space: nowrap;">

                  <div class="item__btns">
                    <div v-if="affiliate.status == 'active'" @click="deleteParamsFiltration(affiliate.id)" class='btn-delete'>
                      <ion-icon name="checkbox"></ion-icon>
                    </div>
                    <div v-else @click="addFiltration(affiliate)" class='btn-delete'>
                      <ion-icon name="checkbox-outline"></ion-icon>
                    </div>
                  </div>

                  {{ affiliate.address }}</div>
              <div class="right-item-panel"></div>
            </div>

            <div class="item-panel__total-info"></div>
          </div>

        </div>
        <div v-else-if="affiliatesSearch.length <= 0" class="list-panel">
          <div class="no-record">Ничего не найдено</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>

      </section>
    `
  });
</script>