<%= render 'clients/home_indecators' %>
<%= render 'clients/home_records' %>
<%= render 'clients/home_services' %>
<%= render 'clients/home_affiliates' %>

<script type="text/javascript">
  Vue.component('home', {
    data: function() {
      return {}
    },
    props: {
      filtrationElements: Array,
      recordsCompany: Array,
      servicesCompany: Array,
      affiliatesCompany: Array,
      clientsCurrent: Array,
      clientsDebtors: Array,
      clientsTotal: Array,
      typeClients: String,
      amountTotalDebtors: Number,
      recordsFilter: Array,
      search_r: String,
      servicesFilter: Array,
      search_s: String,
      affiliatesFilter: Array,
      search_a: String,
    },
    template: `
      <div id='home' class='home'>
        <section-home-indecators 
          :filtration-elements='filtrationElements' 
          :records-company='recordsCompany' 
          :services-company='servicesCompany' 
          :affiliates-company='affiliatesCompany'
          :clients-current='clientsCurrent'
          :clients-debtors='clientsDebtors'
          :clients-total='clientsTotal'
          :type-clients='typeClients'
          :amount-total-debtors='amountTotalDebtors'
          >
        </section-home-indecators>

        <section-home-records :records="recordsFilter" :search_r='search_r'></section-home-records>

        <section-home-services :services="servicesFilter" :search_s='search_s'></section-home-services>

        <section-home-affiliates :affiliates="affiliatesFilter" :search_a='search_a'></section-home-affiliates>
      </div>
    `
  });
</script>