<script type="text/javascript">
  Vue.component('section-home-services', {
    data: function () {
      return {
        loading: false,
        showAll: false,
      }
    },
    props: {
      services: Array,
      show: String,
    },
    methods: {
      addFiltration(service) {
        vmClient.addElementFiltration(service.id, 's');
      },
      deleteParamsFiltration(id, object) {
        let index = vmClient.filtrationElements.findIndex(e => e.id == id);

        vmClient.deleteParamsFiltration(index, id, 's');
      },
    },
    watch: {
    },
    template: `
      <section v-if="show == 'home'" class='panel-content' :class="{ 'show-all': showAll}">
        <div class="panel-header">
          <div class="title-panel">Услуги</div>
          <div v-if="services.length > 3" @click="showAll = !showAll" class="btn show-panel">
            <div v-if="showAll == false">Показать все</div>
            <div v-else-if="showAll == true">Скрыть список</div>
          </div>
        </div>
        <div v-if="services.length > 0" class="list-panel cool-scrollbar">

          <div  v-for="service in services" 
                :class="['service-' + service.id,
                  service.status == 'active' ? 'active-item' : '', 
                  service.status == 'current' ? 'current-item' : '', 
                  service.status == 'default' ? 'default-item' : '']" 
                class="item-panel">
            
            <div class="item-panel__basic-info">
              <div class="left-item-panel" style="white-space: nowrap;">

                  <div class="item__btns">
                    <div v-if="service.status == 'active'" @click="deleteParamsFiltration(service.id)" class='btn-delete'>
                      <ion-icon name="checkbox"></ion-icon>
                    </div>
                    <div v-else @click="addFiltration(service)" class='btn-delete'>
                      <ion-icon name="checkbox-outline"></ion-icon>
                    </div>
                  </div>

                  {{ service.name }}</div>
              <div class="right-item-panel"></div>
            </div>

            <div class="item-panel__total-info"></div>
          </div>

        </div>
        <div v-else-if="services.length <= 0" class="list-panel">
          <div class="no-record">Нет записи</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>

      </section>
    `
  });
</script>