<script type="text/javascript">
  Vue.component('section-home-records', {
    data: function () {
      return {
        showAll: false,
        lastShowAll: false,
      }
    },
    props: {
      records: Array,
      show: String,
      search_r: String,
    },
    methods: {
      addRecordFiltration(record) {
        vmClient.addElementFiltration(record.id, 'r');
      },
      clickRecord(record) {
        vmClient.clickRecord(record);
      },
      deleteParamsFiltration(id) {
        let index = vmClient.filtrationElements.findIndex(e => e.id == id);

        vmClient.deleteParamsFiltration(index, id, 'r');
      },
    },
    watch: {
      search_r() {
        vmClient.search_r = this.search_r;

        clearTimeout(lastId);

        lastId = setTimeout(() => {
          let url = window.location.href;

          if(this.search_r == '') {
            let newUrl = deleteURLParameter(url, 'search_r');
            history.replaceState(this.search_r, this.search_r, newUrl);
          }
          else {
            let newUrl = updateURLParameter(url, 'search_r', this.search_r);
            history.replaceState(this.search_r, this.search_r, newUrl);
          }
        }, 600);

        if(this.search_r != '') {
          if(this.showAll == false) {
            this.lastShowAll = this.showAll;
            this.showAll = true;
          }
        }
        else if(this.search_r == '') {
          this.showAll = this.lastShowAll;
        }
      },
    },
    computed: {
      recordsSearch() {
        const s = validSpaces(this.search_r.toLowerCase());
        return this.records.filter(n => Object.values(n.name.split()).some(m => m.toString().toLowerCase().includes(s)));
      }
    },
    template: `
      <section title='Все записи' v-if="show == 'home'" class='panel-content' :class="{ 'show-all': showAll}">
        <div title='Поиск записей' class="panel-header">

          <div class="title-panel">
            <img src="/images/_ionicons_svg_ios-search.svg" class='search-section-icon'>

            <input v-model="search_r" name="search_r" class='search-section' type="text" placeholder="Записи" id="search_r" autocomplete="off" />

            <div v-if="search_r.length > 0" class="reset-search reset-search-section" @click="search_r = ''" >
              <ion-icon name="close"></ion-icon>
            </div>
          </div>

          <div v-if="recordsSearch.length > 3" @click="showAll = !showAll" class="btn show-panel">
            <div title='Показать еще' v-if="showAll == false">Еще</div>
            <div title='Скрыть содержимое' v-else-if="showAll == true">Скрыть</div>
          </div>
        </div>

        <div v-if="records.length <= 0" class="list-panel">
          <div class="no-record">Список пуст</div>
        </div>

        <div v-else-if="recordsSearch.length > 0" class="list-panel cool-scrollbar">

          <div :title='record.name'  v-for="record in recordsSearch" 
                :class="['record-' + record.id, 
                  record.status == 'active' ? 'active-item' : '', 
                  record.status == 'current' ? 'current-item' : '', 
                  record.status == 'default' ? 'default-item' : '']" 
                class="item-panel">
            
            <div class="item-panel__basic-info">
              <div class="left-item-panel" style="white-space: nowrap;">

                  <div class="item__btns">
                    <div v-if="record.status == 'active'" @click="deleteParamsFiltration(record.id)" class='btn-delete'>
                      <ion-icon name="checkbox"></ion-icon>
                    </div>
                    <div v-else @click="addRecordFiltration(record)" class='btn-delete'>
                      <ion-icon name="checkbox-outline"></ion-icon>
                    </div>
                    <div @click="clickRecord(record)" class='btn-delete'>
                      <ion-icon name="open"></ion-icon>
                    </div>
                  </div>

                  {{ record.name }}</div>
              <div class="right-item-panel"></div>
            </div>

            <div class="item-panel__total-info"></div>
          </div>

        </div>
        <div v-else-if="recordsSearch.length <= 0" class="list-panel">
          <div class="no-record">Ничего не найдено</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>

      </section>
    `
  });
</script>