<!-- 

- полученные айди активных и текущих, нужно пропускать через финд при фор, и возвращать труе, если они есть, актив в приоретете

- понять почему у однх долг дублируется у дргих нет

- сделать отмену абонемента (плюс отмена всех транзакций), отнимать от долга. Смотреть есть ли тайо оператион в абонементах, если да, то отменять
- добавить цену абонемента в список при продаже рядом с именем записи, нужно в запросе при получении записей получать и их цену, при этом, при прикреплении услуги или удалении нужно менять цену

- создать переменную в списке групп, которая будет получать абонемменты для одной группы при нажатии на нее


- сделать удалить услугу из записи
- редактирование цен

- запись клиентов

- кнопка рядом с именем транзакции, для печати

--------

- при загрузке страницы, нужно получать параметр и оттуда присваивать значения для фильтра, надо только узнавать названия

будет переменная в экземплере, туду будут отправляться нажатые элементы (для них будет функция для этого, которая будет отправлять их id, название и категорию, например группа или услуга), после, по всем объектам в этой переменной будет происходить сортировка по списку клиентов.

Сделать компонент, там будут отображаться все элементы из переменной, при нажатии они будут удалятьсям

- При выделении элемента фильтрации, оно подсвечивается синим цветом, и все свазанное с ней черным, а остальное полупрозрачным и не влияет на фильтрацию, можно нажатть на любой элемент, и ссорировка будет по нему

Если открыта карта группы, то ссорировка не работает, только про группе 

при выделении, будет синим, если выборать запись, то бодет выделен синим, и его услуги будут черным, но сортировка по ним не будет, пока их не нажать

сделать кноку, удалить всю сортировку

---------------------
- при отмене оплаты, нужно отнимать отмененную сумму у оплаты за абонемент
- При продаже абонемента, нужно присваивать долг, для начала, надо сделать карту группы с прикреплением услуги, и брать цену этой услуги для абонемента
- при продаже абонемента, для оплаты можно использовать функцию оплаты
тоже самое и перерасчет, который должен быть в группе

- в рокорд клиента сделать вывод абонементов из переменной, удалить get_subs_client


Сделать создание скидки или коррекции цены для клиента, два поля, где вводиться фактическая цена и поле с процентом, при вводе фактической, считается на сколько цена увеличена или уменьшина и на оборот, при вводе процентов подставляется цена относительно текущей цены указанной в записи

Вывод скидок клиента

----

в списке компаний под логом, выводить дней подписки

Если загрузить абонементы к оплате для транзакций, потом выйти из карты и открыть заново, то этих абонементов не будет

---

при откырии карты, под именем надо показывать информацию об абонементе

-->

<div v-if="panelShow == 'home'" class="panels-test">
  <div class="panel-header"><div class="title-panel">Фильтрация</div></div>
  <div 
       style="padding: 0 10px 10px 10px; display: table; width: 100%; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;">

    <div v-for="element in filtrationElementsName" :key="element.id" class="sdfdsfd">
      <div class="dsfsdfasfew"><ion-icon name="add-circle-outline"></ion-icon></div>
      <span>{{ element.name }}</span>
    </div>

  </div>
</div>

<section v-if="panelShow == 'home'" class="panel-content">
  <div class="indecators">
    <div  @click="typeClients = 'current'" 
          class="indecator current"
          :class="[ typeClients == 'current' ? 'active' : '' ]">
      <div>{{ clientsCurrent.length }}</div>
      <span>Текущие клиенты</span>
    </div>
    <div  @click="typeClients = 'debtors'" 
          class="indecator debtors"
          :class="[ typeClients == 'debtors' ? 'active' : '' ]">
      <div>{{ clientsDebtors.length }}</div>
      <span>Должники</span>
    </div>
    <div  @click="typeClients = 'total'" 
          class="indecator total"
          :class="[ typeClients == 'total' ? 'active' : '' ]">
      <div>{{ clientsTotal.length }}</div>
      <span>Все клиенты</span>
    </div>
  </div>

  <div class="panel-footer">
    <div>
      <div>{{ clientsFilter.length }}</div>
      <div>кол-во в списке</div>
    </div>
    <div>
      <div>{{ amountTotalDebtors }}</div>
      <div>долг</div>
    </div>
  </div>
</section>

<section-home-records :records="recordsFilter" :show="panelShow"></section-home-records>

<section-home-services :services="servicesFilter" :show="panelShow"></section-home-services>

<section-home-affiliates :affiliates="affiliatesCompany" :show="panelShow"></section-home-affiliates>