<script type="text/javascript">
  Vue.component('section-home-records', {
    data: function () {
      return {
        loading: false,
        showAll: false
      }
    },
    props: ['records', 'show'],
    methods: {
      addRecordFiltration(record) {
        vmClient.addElementFiltration(record.id, 'record', record.name);
      },
    },
    watch: {
    },
    template: `

      <section v-if="show == 'home'" class='panel-content' :class="{ 'show-all': showAll}">
        <div class="panel-header">
          <div class="title-panel">Все записи</div>
          <div v-if="records.length > 3" @click="showAll = !showAll" class="btn show-panel">
            <div v-if="showAll == false">Показать все</div>
            <div v-else-if="showAll == true">Скрыть список</div>
          </div>
        </div>
        <div v-if="records.length > 0" class="list-panel cool-scrollbar">

          <div v-for="record in records" v-bind:class="'record-' + record.id" class="item-panel">
            
            <div @click="addRecordFiltration(record)" class="item-panel__basic-info" style="cursor: pointer;">
              <div class="left-item-panel">{{ record.name }}</div>
              <div class="right-item-panel"></div>
            </div>

            <div class="item-panel__total-info">


            </div>
          </div>

        </div>
        <div v-else-if="records.length <= 0" class="list-panel">
          <div class="no-record">Нет записи</div>
        </div>
        <div v-else-if="loadingPanel" class="list-panel">
          <img class="loading-panel" src="images/loading.gif" />
        </div>

      </section>


    `
  });
</script>