<!-- 

- полученные айди активных и текущих, нужно пропускать через финд при фор, и возвращать труе, если они есть, актив в приоретете

- сделать отмену абонемента (плюс отмена всех транзакций), отнимать от долга. Смотреть есть ли тайо оператион в абонементах, если да, то отменять
- добавить цену абонемента в список при продаже рядом с именем записи, нужно в запросе при получении записей получать и их цену, при этом, при прикреплении услуги или удалении нужно менять цену

- создать переменную в списке групп, которая будет получать абонемменты для одной группы при нажатии на нее

- в рокорд клиента сделать вывод абонементов из переменной, удалить get_subs_client

- при оплате абонемента в описание еще вставлять название группы в конце

--------


102. При продаже абонемента, он не появлися в оплатах
104. ошибка, когда откроешь абонемент для олпты, отменить оплату за нее, долго вернется, но фиксированная сумма нет
105. Исправить ошибку с удалением индикатора
106. Сдлетать, чтобы при поиске детей, списки записей, услуг и меняли статус по рекордам найденных клиентов

- при нажатии они будут удаляться, попробовать сделать через куки, так можно будет хранить и названия тоже, при этом, хранить его в форматие ассоциативного массива, получать и находить нужный элемент и удалять его.


---------------------
- при отмене оплаты, нужно отнимать отмененную сумму у оплаты за абонемент
- При продаже абонемента, нужно присваивать долг, для начала, надо сделать карту группы с прикреплением услуги, и брать цену этой услуги для абонемента
- при продаже абонемента, для оплаты можно использовать функцию оплаты
тоже самое и перерасчет, который должен быть в группе



Сделать создание скидки или коррекции цены для клиента, два поля, где вводиться фактическая цена и поле с процентом, при вводе фактической, считается на сколько цена увеличена или уменьшина и на оборот, при вводе процентов подставляется цена относительно текущей цены указанной в записи

- добавление скидки для клиента и вывод списка. Если скидок нет, то не выводить панель. Скидку можно отменить, но не удалять

----

Если загрузить абонементы к оплате для транзакций, потом выйти из карты и открыть заново, то этих абонементов не будет

---
  
4. запись клиентов

5. записи при продаже абонементов, нужно выводить цены, а также выводить только активные записи

3. при откырии карты группы, под именем надо показывать информацию об абонементе
7. Исправить удаление параметров фильтра из юрл
9. ошибка, не выводятся все услуги для добавления

-->
  
<section v-if="panelShow == 'home'" class="panel-content">
  <dfn data-info="Можно отфильтровать списки по записям, услугам и филиалам. Для этого нужно выделить необходимый вариант в списках ниже">
    <div class="params-filters">
        <div v-if="filtrationElementsName.length > 0" class="list-params">
          <div v-for="(element, index) in filtrationElementsName" @click="deleteParamsFiltration(index, element.id, element.object)" :key="element.id" class="params-filter">

            <div class="params-filter__img">
              <div>
                <img v-if="element.object == 'r'" src="/images/group4.png" style="width: 100%;" />
                <img v-else-if="element.object == 's'" src="/images/list4.png" style="width: 100%;" />
                <img v-else-if="element.object == 'a'" src="/images/office4.png" style="width: 100%;" />
              </div>
              <ion-icon name="close-circle"></ion-icon>
            </div>
            <span>{{ element.name }}</span>
          </div>
        </div>

        <div v-else class="empty-list">Без фильтрации</div>

        <div v-if="filtrationElementsName.length > 0" @click="deleteAllParamsFiltration()" class="reset-search">
          <ion-icon name="close"></ion-icon>
        </div>
    </div>
  </dfn>

  <div class="panel-footer">
    <div class="indecators">
      <div @click="typeClients = 'current'" class="indecator interact blue-color current" :class="[typeClients == 'current' ? 'active' : '']">
        <div class="index-indecator">{{ clientsCurrent.length }}</div>
        <div class="name-indecator">Текущие<br />клиенты</div>
      </div>
      <div @click="typeClients = 'debtors'" class="indecator interact blue-color debtors" :class="[typeClients == 'debtors' ? 'active' : '']">
        <div class="index-indecator">{{ clientsDebtors.length }}</div>
        <div class="name-indecator">Должники</div>
      </div>
      <div @click="typeClients = 'total'" class="indecator interact blue-color total" :class="[ typeClients == 'total' ? 'active' : '' ]">
        <div class="index-indecator">{{ clientsTotal.length }}</div>
        <div class="name-indecator">Все клиенты</div>
      </div>

      <div class="indecator red-color">
        <div class="index-indecator">{{ amountTotalDebtors }} ₽</div>
        <div class="name-indecator">Долг</div>
      </div>
    </div>
  </div>
</section>

<section-home-records :records="recordsFilter" :show="panelShow"></section-home-records>

<section-home-services :services="servicesFilter" :show="panelShow"></section-home-services>

<section-home-affiliates :affiliates="affiliatesFilter" :show="panelShow"></section-home-affiliates>