<!-- 

- полученные айди активных и текущих, нужно пропускать через финд при фор, и возвращать труе, если они есть, актив в приоретете

- сделать отмену абонемента (плюс отмена всех транзакций), отнимать от долга. Смотреть есть ли тайо оператион в абонементах, если да, то отменять
- добавить цену абонемента в список при продаже рядом с именем записи, нужно в запросе при получении записей получать и их цену, при этом, при прикреплении услуги или удалении нужно менять цену

- создать переменную в списке групп, которая будет получать абонемменты для одной группы при нажатии на нее

- в рокорд клиента сделать вывод абонементов из переменной, удалить get_subs_client

- при оплате абонемента в описание еще вставлять название группы в конце

--------


102. При продаже абонемента, он не появлися в оплатах
104. ошибка, когда откроешь абонемент для олпты, отменить оплату за нее, долго вернется, но фиксированная сумма нет
105. Исправить ошибку с удалением индикатора
106. Сдлетать, чтобы при поиске детей, списки записей, услуг и меняли статус по рекордам найденных клиентов
107. сделать параметры фильтрации над индикаторами. "Без фильтрации", сделать подсказку при наведении: "Для фильтрации выберите параметр в списке винуз". Сделать это на месте индикаторов, а индикаторы спустить вниз

- при нажатии они будут удаляться, попробовать сделать через куки, так можно будет хранить и названия тоже, при этом, хранить его в форматие ассоциативного массива, получать и находить нужный элемент и удалять его.


---------------------
- при отмене оплаты, нужно отнимать отмененную сумму у оплаты за абонемент
- При продаже абонемента, нужно присваивать долг, для начала, надо сделать карту группы с прикреплением услуги, и брать цену этой услуги для абонемента
- при продаже абонемента, для оплаты можно использовать функцию оплаты
тоже самое и перерасчет, который должен быть в группе



Сделать создание скидки или коррекции цены для клиента, два поля, где вводиться фактическая цена и поле с процентом, при вводе фактической, считается на сколько цена увеличена или уменьшина и на оборот, при вводе процентов подставляется цена относительно текущей цены указанной в записи

- добавление скидки для клиента и вывод списка. Если скидок нет, то не выводить панель. Скидку можно отменить, но не удалять

----

Если загрузить абонементы к оплате для транзакций, потом выйти из карты и открыть заново, то этих абонементов не будет

---

1. Сделать индекаторы для записи
2. Сделать вывод долга из списка
3. при откырии карты группы, под именем надо показывать информацию об абонементе
4. запись клиентов
5. сделать удалить услугу из записи
6. редактирование цен
7. Исправить удаление параметров фильтра из юрл
8. Юсупов Иван, у него выводятся главы блоков с дополнительными полями, хотя они пусты, исправить

-->

<div v-if="panelShow == 'home' && filtrationElementsName.length > 0" class="panels-test">
  <div class="panel-header"><div class="title-panel">Фильтрация</div></div>
  <div 
       style="padding: 0 10px 10px 10px; display: table; width: 100%; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;">

    <div  v-for="element in filtrationElementsName" 
          @click="remoteElementFiltration(element.id, element.object)" 
          :key="element.id" class="sdfdsfd">

      <div class="dsfsdfasfew"><ion-icon name="add-circle-outline"></ion-icon></div>
      <span>{{ element.name }}</span>
    </div>

  </div>
</div>

<section v-if="panelShow == 'home'" class="panel-content">
  <div class="indecators">
    <div  @click="typeClients = 'current'" 
          class="indecator current"
          :class="[ typeClients == 'current' ? 'active' : '' ]">
      <div>{{ clientsCurrent.length }}</div>
      <span>Текущие клиенты</span>
    </div>
    <div  @click="typeClients = 'debtors'" 
          class="indecator debtors"
          :class="[ typeClients == 'debtors' ? 'active' : '' ]">
      <div>{{ clientsDebtors.length }}</div>
      <span>Должники</span>
    </div>
    <div  @click="typeClients = 'total'" 
          class="indecator total"
          :class="[ typeClients == 'total' ? 'active' : '' ]">
      <div>{{ clientsTotal.length }}</div>
      <span>Все клиенты</span>
    </div>
  </div>

  <div class="panel-footer">
    <div class="amount" style="color: #ff7375; cursor: default; opacity: 1;">
      <div class="amount-price">{{ amountTotalDebtors }} ₽</div>
      <div class="amount-name">Долг</div>
    </div>
  </div>
</section>

<section-home-records :records="recordsFilter" :show="panelShow"></section-home-records>

<section-home-services :services="servicesFilter" :show="panelShow"></section-home-services>

<section-home-affiliates :affiliates="affiliatesFilter" :show="panelShow"></section-home-affiliates>