<div v-if="panelShow == 'record'" id="record-card">
  <section-record-panel-info :record="record" :services-company="servicesCompany" :clients-current="clientsCurrent" :clients-debtors="clientsDebtors" :clients-total="clientsTotal" :amount-total-debtors="amountTotalDebtors"></section-record-panel-info>
  <section-record-records :services-company="servicesCompany"></section-record-records>
</div>