<section class='panel-content'>
  <div class="panel-header">
    <div class="title-panel">Транзакции</div>
    <div class="show-panel">Показать все</div>
  </div>
  <div class="list-panel">
    <div class="item-panel">
      <div class="item-panel__basic-info">
        <div class="left-item-panel">Оплата за абонемент от 23 октября...</div>
        <div class="right-item-panel green">6000.0 ₽</div>
      </div>
    </div>
    <div class="item-panel">
      <div class="item-panel__basic-info">
        <div class="left-item-panel">Оплата за абонемент от 23 октября...</div>
        <div class="right-item-panel green">6000.0 ₽</div>
      </div>
    </div>
    <div class="item-panel">
      <div class="item-panel__basic-info">
        <div class="left-item-panel">Оплата за абонемент от 23 октября...</div>
        <div class="right-item-panel green">6000.0 ₽</div>
      </div>
    </div>
  </div>
</section>