
<div class="current-object">
  
  <img class="object-avatar" src="/resources/no-image-available.png" />
  <div class="object-info">
    <span class="name-people">Юсупов Расул</span>
    <span class="roles-people">Владелец</span>
  </div>
  <div class="sign-out">выход</div>
  
</div>


<div class="katalog">
  
  <div class="header-katalog">
    <a class="logo" href="#"><img src="/images/logo-mini.png" /></a>
    <input type="text" placeholder="Поиск инструментов или людей..." />
  </div>
  
  <div class="content-katalog">
    <div class="menu-with-options">
      <div style="opacity: 1; cursor: default;">Все функции</div>
      <div>Управление продажами</div>
      <div>Компания</div>
      <div>Финансы</div>
      <div>Склад</div>
      <div>Аналитика</div>
    </div>
    
    <div class="instruments">
      <div class="instrument">
        <img src="/images/user.png" />
        <div>Клиенты</div>
      </div>
      <div class="instrument">
        <img src="/images/group.png" />
        <div>Группы</div>
      </div>
      <div class="instrument">
        <img src="/images/group.png" />
        <div>Индивидуально</div>
      </div>
      <div class="instrument">
        <img src="/images/img_432045.png" />
        <div>Абонементы</div>
      </div>
      <div class="instrument">
        <img src="/images/time-left.png" />
        <div>Посещения</div>
      </div>
      <div class="instrument">
        <img src="/images/group.png" />
        <div>Услуги</div>
      </div>
      
      <div class="instrument">
        <img src="/images/2.png" />
        <div>Оплаты</div>
      </div>
      
      <div class="instrument">
        <img src="/images/office3.png" />
        <div>Филиалы</div>
      </div>
      
      <div class="instrument">
        <img src="/images/office3.png" />
        <div>Филиалы</div>
      </div>
    </div>
    
  </div>
  
</div>
