<div v-if="panelShow == 'home'" id="home">
  <section class="panel-content">

    <div class="panel-footer">
      <div class="indecators">

        <div class='indecator blue-color'>
          <div class="index-indecator">{{ workersSearch.length }}</div>
          <div class="name-indecator">Сотрудники</div>
        </div>

      </div>
    </div>

  </section>
</div>