<script type="text/javascript">
  Vue.component('section-transaction-add', {
    data: function () {
      return {
        loading: false,
        amount: null,
        note: '',
        addTransaction: '',
        transactionCreateLoading: false,
        category_id: '',
        categories_income: [],
        categories_expense: [],
        dateTransaction: '',

        affiliates: [],
        affiliate_id: '',

        newTransaction: []
      }
    },
    props: {
      worker: Object,
      show: String,
    },
    methods: {
      createTransaction() {
        let {transactions} = vmWorkers;
        let {amount, note, addTransaction, category_id, dateTransaction, affiliate_id, newTransaction} = this;
        var complited = false;

        if(!this.transactionCreateLoading) {
          this.transactionCreateLoading = true;

          setTimeout(() => {
            $.ajax('/create_transaction.json', {
              method: 'POST',
              data: {
                authenticity_token: authToken,
                operation_id: this.worker.operation_id,
                amount: amount,
                note: note,
                category_id: category_id,
                affiliate_id: affiliate_id,
                date: dateTransaction,
              },
              success: messege => {
                complited = messege.complited;
                newTransaction = messege.result[0];
                vmNotifications.notifications.unshift(messege);
              },
              error: e => console.warn('error', e)
            }).done(e => {
              if(complited) {
                transactions.unshift(newTransaction);

                this.addTransaction = '';
              }
              this.transactionCreateLoading = false;
            });
          }, 600);
        }
      },
    },
    watch: {
      addTransaction() {
        var currentDate = new Date();
        this.dateTransaction = setDate(currentDate.getDate(), currentDate.getMonth(), currentDate.getFullYear());;

        this.amount = null;
        this.note = '';
        this.category_id = '';

        if(this.addTransaction == 'income') {
          this.category_id = this.categories_income[0].id;
        }
        else if(this.addTransaction == 'expense') {
          this.category_id = this.categories_expense[0].id;
        }
      },
      show() {
        $.get(
          '/get_categories_income.json',
          categories_income => {
            this.categories_income = categories_income;
          }
        );
        $.get(
          '/get_categories_expense.json',
          categories_expense => {
            this.categories_expense = categories_expense;
          }
        );
        $.get(
          '/get_affiliates.json',
          affiliates => {
            this.affiliates = affiliates;

            if(affiliates.length > 0)
              this.affiliate_id = affiliates[0].id;
          }
        );
      },
    },
    template: `
      <section v-if="show == 'addTransaction'" class="panel-add">
        <h2 class="panel-form__title">
          <div @click="$emit('open-pnl-add')" class="btn-back new-btn">
            <ion-icon name="arrow-back"></ion-icon>
          </div>
          <span>Произвести транзакцию</span>
        </h2>
        <div>
          <input type="hidden" id="authenticity_token" value="<%=form_authenticity_token%>">
          <div class="item-panel">
            <div class="item-panel__basic-info">

              <select v-model="addTransaction">
                <option disabled value="">Выберите вариант транзакции</option>
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
              </select>

              <div v-if="addTransaction != ''">
                <select v-if="addTransaction == 'income'" v-model="category_id">
                  <option disabled value="">Выберите одну из статей дохода</option>
                  <option v-for="category in categories_income" :value="category.id">
                    {{ category.name }}
                  </option>
                </select>

                <select v-else-if="addTransaction == 'expense'" v-model="category_id">
                  <option disabled value="">Выберите одну из статей расхода</option>
                  <option v-for="category in categories_expense" :value="category.id">
                    {{ category.name }}
                  </option>
                </select>

                <select v-if="affiliates.length > 1 && (addTransaction == 'income' || addTransaction == 'expense')" v-model="affiliate_id">
                  <option disabled value="">Выберите филиал</option>
                  <option v-for="affiliate in affiliates" :value="affiliate.id">
                    {{ affiliate.address }}
                  </option>
                </select>
                <input v-else v-model="affiliate_id" type="hidden">

                <input v-model="amount" type="number" placeholder="Сумма" />
                <input v-model="dateTransaction" id="date" type="date" placeholder="Дата транзакции" />
                <textarea v-model="note" placeholder="Комментарий" class="textarea"></textarea> 
              </div>

              <div v-if="addTransaction != '' && amount != null && amount != 0 && note != '' && dateTransaction != ''" class="btns" style="margin: 0;">
                <button 
                  @click="createTransaction()" 
                  v-bind:class="{ active: transactionCreateLoading }" 
                  class="btn-subscribe btn" 
                  style="position: absolute; right: 10px; top: 0; padding: 15px; margin: 0;">

                  <div class="btn__text">Произвести</div>
                  <div v-if="transactionCreateLoading" class="container" style="width: 58px;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 240.7 8.9" style="enable-background:new 0 0 240.7 8.9;" xml:space="preserve">
                    <path d="M232.1,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.8-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                      c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C172,4,168.6,0.2,163.5,0
                      c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0c-0.1-0.2-3.6-3.9-8.6-4.1
                      c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C103.4,4,100,0.2,95,0c-3.2-0.1-6.3,1.3-9.3,4.1
                      C83,6.8,80.1,8,77.2,7.9c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C69.2,4,65.7,0.2,60.7,0c-3.2-0.1-6.3,1.3-9.3,4.1c-2.7,2.6-5.6,3.9-8.5,3.8
                      c-4.6-0.2-7.8-3.7-7.9-3.8l0,0C34.9,4,31.5,0.2,26.4,0c-3.2-0.1-6.3,1.3-9.3,4.1C14.4,6.8,11.6,8,8.6,7.9C4,7.8,0.8,4.2,0.7,4.1
                      L0,4.8C0.1,5,3.5,8.8,8.6,8.9c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1C89.1,2.2,92,0.9,94.9,1c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.8,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.7,7.9,3.8l0,0
                      c0.1,0.2,3.5,3.9,8.6,4.1c0.1,0,0.3,0,0.4,0c3.1,0,6.1-1.4,8.9-4.1c2.7-2.6,5.6-3.9,8.5-3.8c4.6,0.2,7.9,3.8,7.9,3.8l0.7-0.7
                      C240.5,4,237.1,0.2,232.1,0z"/>
                    </svg>
                  </div>
                </button>
              </div>

            </div>
          </div>
        </div>
      </section>
    `
  });
</script>