/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
    font-family: MyriadPro;
    src: url(/fonts/MyriadPro/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadProCond;
    src: url(/fonts/MyriadPro/MyriadPro-Cond.otf);
}
@font-face {
    font-family: CenturyGothic;
    src: url(/fonts/CenturyGothic/CenturyGothic.ttf);
}
@font-face {
    font-family: CenturyGothicBold;
    src: url(/fonts/CenturyGothic/CenturyGothicBold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}
