.card {
    background-color: #eceff0;
    width: 350px;
    display: table;
    border-radius: 7px;
    z-index: 3;
    position: relative;
    margin: auto;
    transition: .3s;
    margin-top: 10%;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.block-information>h3 {
    color: #a3a3a3;
    font-size: 11px;
    padding: 10px 0 15px 0;
    margin: 0;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
    position: relative;
    z-index: 2;
}
.img-card {
    width: 137px;
    height: 137px;
    position: absolute;
    right: 0;
    top: -66px;
    left: 0;
    margin: auto;
    user-select: none;
    transition: .3s;
    *box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px #eceff0;
    border-radius: 50%;
    background-color: white;
}
.title-panel {
    padding: 10px 0 18px 0;
    /*background-color: white;*/
    border-radius: 7px 7px 0 0;
}
div.card.avatar>.title-panel {
    padding: 66px 0 18px 0;
}
.card.avatar {
    margin-top: 15%;
}
.title-card {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    text-align: center;
    margin-top: 12px;
}
.role-card {
    font-size: 14px;
    color: #aeaeae;
    text-align: center;
    margin-top: 8px;
    user-select: none;
}
span.debt {
    color: #ff7375;
}
.amount {
    *color: #a5df9e;
    color: #7bcd71;
}
.btns-card {
    position: absolute;
    right: 0;
    top: -48px;
    left: 0;
    margin: auto;
    user-select: none;
    transition: .3s;
}
.btn-card {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    float: right;
    padding: 9px;
    margin-right: 9px;
    cursor: pointer;
    background-origin: content-box;
}
.icon-archive {
    background-image: url(images/archive.png);
    float: left!important;
    margin-left: 9px!important;
}
.icon-closed-card {
    background-image: url(images/Close1.png);
}
.icon-home {
    background-image: url(images/home.png);
}
.information-section {
    margin: 0 30px;
}
.block-information {
    background-color: white;
    border-radius: 14px;
    padding: 11px 20px;
    margin-bottom: 20px;
    position: relative;
}
.item-information {
    display: table;
    width: 100%;
}
.block-information>div>span {
    font-size: 14px;
}
.title-input {
    float: left;
    color: #a2a2a2;
    margin: 9px 0;
    user-select: none;
}
.text-input {
    float: right;
    color: #4a4a4a;
    margin: 9px 0;
}
.icon-home:hover {
    background-image: url(/images/home-hover.png);
}
.icon-closed-card:hover {
    background-image: url(/images/close-hover.png);
}
.conten-card {
    margin-top: 20px;
}
.inpot-panel {
    width: 100%;
    padding: 8px 0;
    border: 0;
    margin-bottom: 1px;
}
.icon-confirm {
    background-image: url(/images/plus.png);
}
.bottom-line-list {
    /*box-shadow: 0 0 120px 80px white;*/
    margin: 0;
    border: 0;
}
.btn-confirm:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 1;
}
.add-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 12px auto;
    border: 2px dashed silver;
    cursor: pointer;
}
.icon-add-avatar {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    float: left;
    margin: 38px;
    background-image: url(/images/plus2.png);
}
.add-avatar:hover {
    background-color: #f3f3f3;
}
.btn {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    color: transparent;
    padding: 13px;
    background-origin: content-box;
    background-color: #3b89d1;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    margin: auto;
    user-select: none;
    border: 0;
    outline: none;
}
.conten-card>.btn {
    margin: 0 auto 10px;
    display: table;
}
.block-information>.btn {
    top: 0;
    right: 18px;
    bottom: 0;
    position: absolute;
}
.icon-authorization {
    background-image: url(/images/arrow.png);
}
.btn:hover {
    opacity: 1;
}
.block-information>.btn:active {
    -webkit-transform: translatex(1px);
    -ms-transform: translatex(1px);
    transform: translatex(1px);
}
.btn:active, .btn-card:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 1;
}
img.logo {
    height: 24px;
}
.block-information.active-compact {
    height: 31px;
    overflow: hidden;
}
.btn-compact {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    padding: 21px 19px;
    background-origin: content-box;
    border-radius: 50%;
    float: left;
    z-index: 1;
    position: absolute;
    user-select: none;
    background-image: url(images/arrow-grey.png);
    top: 0;
    right: 0;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: .3s;
}
.active-compact>.btn-compact {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.compact>h3 {
    cursor: pointer;
}