body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Roboto;
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.katalog {
    width: 550px;
    height: 250px;
    /*background-color: #eceff0;*/
    background-color: #e1e4e8;
    border-radius: 7px 7px 0 0;
    z-index: 5;
    overflow: hidden;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    user-select: none;
    transition: .3s;
    min-height: 230px;
}
.header-katalog {
    width: 100%;
    height: 70px;
    background-color: white;
}
.header-katalog>input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 27px 30px 26px 75px;
    border: 0;
    outline: none;
}
.back-background {
    *background-color: #202125;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background/background1.jpg);
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.current-object {
    z-index: 1;
    width: 46px;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    user-select: none;
}
img.object-avatar {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
.object-info {
    position: absolute;
    left: 82px;
    top: 2px;
    right: 0px;
    color: white;
    display: grid;
    white-space: nowrap;
    cursor: default;
}
.name-people {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}
.roles-people {
    font-size: 14px;
    color: white;
}
.menu-with-options {
    margin: 24px 30px 14px 30px;
    display: table;
    user-select: none;
}
.option {
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    *color: #8c8c8c;
    color: #75787c;
    font-weight: 500;
    margin-right: 20px;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: RobotoMedium;
}
.option:hover {
    opacity: .7;
}
.option.active {
    opacity: 1!important;
    cursor: default;
}
.content-katalog {
    user-select: none;
    margin: 0 0 0 17px;
    overflow-y: overlay;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}
.content-katalog>div {
    width: 100%;
    display: table;
}
.instrument>img {
    width: 21px;
    height: 21px;
    padding: 18px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.1);
    transition: .3s;
    margin: 0 auto 10px;
    display: table;
}
.instrument:hover>img, .instrument:focus>img, .item-quick-search:hover>img, .item-quick-search  :focus>img {
    box-shadow: 0 11px 8px -6px rgba(0, 0, 0, 0.1);
}
.instrument:hover, .instrument:focus, .item-quick-search:hover, .item-quick-search:focus {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}
.instrument, .item-quick-search {
    float: left;
    margin: 0 7px 30px 7px;
    cursor: pointer;
    transition: .3s;
    width: 72px;
}
.open-object:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}
.item-card:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(-2px);
    transform: translateX(2px);
    opacity: 1!important;
}
.information-section:hover .item-card {
    opacity: 0.6;
}
.instrument>div, .item-quick-search>div {
    *color: #919394;
    color: #75787c;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
.header-katalog>.logo {
    width: 17px;
    height: 32px;
}
.header-katalog>.logo {
    display: table;
    width: 32px;
    height: 17px;
    *padding: 27px 26px 23px 30px;
    padding: 19px 30px 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.header-katalog>.logo>img {
    width: 100%;
}
.open-tabs>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: table;
    z-index: 2;
    user-select: none;
    width: 100%;
}
.open-tabs>div>div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    overflow: hidden;
    height: 48px;
    padding: 5px 0px;
    outline: none;
}
.open-object {
    background-color: white;
    border-radius: 7px;
    float: left;
    padding: 6px 12px;
    margin-right: 18px;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
    display: flex;
}
.open-object>* {
    float: left;
}
.open-object>img {
    width: 36px;
    height: 36px;
    margin-right: 18px;
    border-radius: 50%;
}
.open-object>span {
    color: #888888;
    font-size: 13px;
    margin: 9.5px 0px;
}
.open-tabs {
    width: 100%;
    height: 50%;
    position: fixed;
    transition: .3s;
    left: 0;
    top: 0;
    z-index: 5;
}
.footer {
    position: fixed;
    z-index: 4;
    color: white;
    font-size: 12px;
    width: 100%;
    top: 12px;
    left: 0;
    right: 0;
    user-select: none;
    transition: .3s;
}
.other-sections {
    float: left;
    margin-left: 30px;
}
.copyright {
    float: right;
    margin-right: 30px;
}
.other-sections>*, .copyright {
    opacity: .5;
}
.other-sections>* {
    float: left;
    margin-right: 18px;
    cursor: pointer;
}
.other-sections>div:hover {
    opacity: .7;
}
.sign-out {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 10px;
    opacity: 0.9;
    cursor: pointer;
    margin: 5px auto 0;
    display: table;
}
.item-card {
    background-color: white;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 7px;
    min-height: 60px;
    float: left;
    transition: .3s;
}
/*a.btn {
    display: table;
    width: 11px;
    height: 11px;
}*/
.avatar-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px -10px 10px 10px;
    float: left;
}
input.card-search {
    display: table;
    margin: 20px 30px 0;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 7px;
    text-align: center;
    transition: background .2s,flex .2s,opacity .2s,width .2s,-ms-flex .2s;
    background-color: rgba(255,255,255,0.7);
    color: #444;
}
input.card-search:hover {
    background-color: #fbfbfb;
}
.card-search:focus {
    background-color: white!important;
}
.active-company {
    position: fixed;
    z-index: 4;
    color: white;
    left: 30px;
    top: 40px;
    transition: .3s;
}
.btn-subs:active {
    -ms-transform: scale(0.9)!important;
    transform: scale(0.9)!important;
}
.name-company {
    font-size: 14px;
    cursor: pointer;
}
.days-subs {
    font-size: 24px;
}
.people-on-course {
    font-size: 11px;
    color: #888888;
    margin-top: 5px;
    text-align: right;
}
.people-on-course>img {
    width: 11px;
    height: 11px;
    margin-left: 3px;
    float: right;
}
.right-content>.people-on-course {
    margin: 24px 14px 23px 0;
}
.icon-sorting {
    background-image: url(/images/Filter-11-WF.png);
}
.panel-sorting {
    text-align: center;
    padding-top: 20px;
    color: #75787c;
    display: none;
}
.top-panel .open-tabs {
  height: 74px;
}
.top-panel .footer {
  top: -50%;
}
.top-panel .active-company, .top-panel .message {
    opacity: 0;
}
.opacity-panel .open-tabs {
    opacity: .4;
}
.field_with_errors input {
    border: 2px solid #ffb0b0;
    border-width: 0 0 2px 0;
}
.message ul, #error_explanation ul {
    padding-left: 20px;
}
.message ul>li, #error_explanation ul>li {
    word-break: break-all;
    font-size: 13px;
    margin-bottom: 10px;
}
.item-quick-search>img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.1);
    transition: .3s;
    margin: 0 auto 10px;
    display: table;
    background-color: white;
    overflow: hidden;
}
.loading-block {
    height: 177px;
    position: relative;
}
.loading-block>img {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    user-select: none;
}
.loading-block>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    user-select: none;
    display: table;
    color: #a3a3a3;
    width: 100%;
    text-align: center;
}
.items-katalog {
    display: table;
    width: 100%;
}
.instruments {
    margin-top: 20px;
}
.card {
    /*background-color: #eceff0;*/
    background-color: #e1e4e8;    
    background-image: linear-gradient(to left top,rgba(171,142,205,0) 0,#eceff0 100%);
    /*width: 360px;*/
    width: 400px;
    display: table;
    border-radius: 7px;
    z-index: 5;
    position: relative;
    margin: auto;
    transition: .3s;
    margin-top: 150px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    display: grid;
}
.block-information>h3 {
    color: #a3a3a3;
    font-size: 11px;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
    position: relative;
    z-index: 2;
}
.img-card {
    width: 137px;
    height: 137px;
    position: absolute;
    right: 0;
    top: -66px;
    left: 0;
    margin: auto;
    user-select: none;
    transition: .3s;
    *box-shadow: 0 0 0 2px #eceff0;
    box-shadow: 0 0 0 2px #e1e4e8;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
}
.people-avatar {
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    margin: auto;
    right: 0;
    left: 0;
}
.img-card:active {
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}
.title-panel {
    padding: 10px 0 18px 0;
    /*background-color: white;*/
    border-radius: 7px 7px 0 0;
}
.title-panel.avatar {
    padding: 66px 0 18px 0!important;
}
.title-card {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    text-align: center;
    margin: 12px 70px 0;
}
.role-card {
    font-size: 14px;
    color: #aeaeae;
    text-align: center;
    margin-top: 8px;
    user-select: none;
}
.debt {
    color: #ff7375!important;
}
.amount {
    *color: #a5df9e;
    *color: #7bcd71;
    color: #12ce88;
}
/*.btns-card {
    position: absolute;
    right: 0;
    top: -48px;
    left: 0;
    margin: auto;
    user-select: none;
}*/
.btns-card {
    right: 0;
    user-select: none;
    width: 100%;
    height: 50px;
    position: absolute;
}
.btn-card {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    float: right;
    margin: 7px;    
    padding: 9px;
    cursor: pointer;
    background-origin: content-box;
    border-radius: 50%;
}
.btn-card:hover {
    background-color: #d4d4d4;
}
.icon-archive {
    background-image: url(/images/archive.png);
    float: left!important;
    margin-left: 9px!important;
}
.icon-closed-card {
    background-image: url(/images/Close1.png);
}
.icon-home {
    background-image: url(/images/home.png);
}
.information-section {
    margin: 0 30px;
    display: grid;
}
.block-information {
    background-color: white;
    border-radius: 14px;
    padding: 11px 20px;
    margin-bottom: 20px;
    position: relative;
    /*width: 300px;*/
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
}
.records-client .parent-compact {
    opacity: 0.8;
}
.records-client .parent-compact:hover {
    opacity: 1;
}
.item-information {
    display: table;
    width: 100%;
}
.title-input {
    float: left;
    color: #a2a2a2;
    margin: 9px 0;
    user-select: none;
    font-size: 14px;
}
.text-input {
    float: right;
    color: #4a4a4a;
    margin: 9px 0;
    font-size: 14px;
}
.icon-home:hover {
    background-image: url(/images/home-hover.png);
}
.icon-closed-card:hover {
    background-image: url(/images/close-hover.png);
}
.input-panel {
    width: 100%;
    padding: 8px 0;
    border: 0;
    margin-bottom: 1px;
    background-color: white;
}
.icon-plus {
    background-image: url(/images/plus.png);
}
.icon-confirm {
    background-image: url(/images/confirm.png);
    background-color: #12ce88!important;
}
.bottom-line-list {
    /*box-shadow: 0 0 120px 80px white;*/
    margin: 0;
    border: 0;
}
.btn-confirm:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 1;
}
.add-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 12px auto;
    border: 2px dashed silver;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    top: 0;
}
.icon-add-avatar {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    float: left;
    padding: 38px;
    background-image: url(/images/plus2.png);
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.7);
    background-origin: content-box;
    transition: .3s;
}
.add-avatar:hover .icon-add-avatar {
    background-color: #f3f3f3;
}
input.btn, button.btn {
    width: 36px;
    height: 36px;
}
.option>.amount {
    font-family: Roboto;
    font-size: 13px;
    margin-left: 4px;
}
.btn {
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    color: transparent;
    padding: 13px;
    background-origin: content-box;
    background-color: #3b89d1;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    margin: auto;
    user-select: none;
    border: 0;
    outline: none;
    float: left;
}
.btns-confirm .btn {
    margin: 0 5px;
}
.conten-card>.btn, .btn-list  {
    margin: 20px auto;
    display: table;
    float: none;
}
.authorization>.btn {
    top: 0;
    right: 18px;
    bottom: 0;
    position: absolute;
}
.icon-authorization {
    background-image: url(/images/arrow.png);
}
.btn:hover, .btn:focus, .btn-subs:hover, .btn-subs:focus {
    opacity: 1;
}
.authorization>.btn:active {
    -webkit-transform: translatex(1px);
    -ms-transform: translatex(1px);
    transform: translatex(1px);
}
.btn:active, .btn-subs:active, .add-discount:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 1!important;
}
.add-discount:hover {
    opacity: .7;
}
a.link-delete {
    float: right;
    font-size: 13px;
}
img.logo {
    height: 24px;
}
.block-information.parent-compact .compact {
    display: none!important;
}
.finput-desc {
    color: #888888;
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: -5px;
    user-select: none;
}
.container-info {
    margin-top: 5px;
}
.btn-compact {
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 45px;
    cursor: pointer;
    overflow: hidden;
}
.btn-compact:hover {
    opacity: 0.5;
}
.btn-compact:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 1!important;
}
.btn-compact>div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: .3s;
    background-image: url(/images/arrow-grey.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    float: right;
    background-position: center;
}
.parent-compact .btn-compact>div {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.current-subs {
    float: left;
    color: #a7a7a7;
    font-size: 13px;
    margin: 0px 0 6px 0;
}
.block-information.entry {
    /*display: table;*/
    cursor: default;
}
.title-entry {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    padding: 9px 0 12px 0;
    position: relative;
    z-index: 8;
    transition: .3s;
    display: block;
    margin-right: 50px;
}
.service-entry {
    color: #a7a7a7;
    font-size: 13px;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    float: left;
    padding-left: 17px;
    background-image: url(/images/list.png);
    margin: 0 0 12px 0;
    position: relative;
    z-index: 8;
    width: 100%;
}
.subscription.active .data-subscriptions {
    color: #525252;
}
.click-compact {
    cursor: pointer;
}
.service-entry>* {
    float: left;
    margin: -1px 10px 5px 0;
    color: #a7a7a7;
    transition: .3s;
}
a.service-entry>*:hover, a.title-entry:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    opacity: .7;
}
.rate-responsible {
    float: right;
    margin-top: 1px;
    font-style: italic;
}
.discount-entry {
    color: #a7a7a7;
    font-size: 13px;
    float: left;
    margin: 0 0 12px 0;
    width: 100%;
}
.discount-entry ul {
    padding-left: 19px;
    margin: 15px 0 7px 0;
}
.discount-entry li {
    margin-top: 10px;
}
.add-discount {
    color: #4fa6f7;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
    float: left;
    padding: 10px 0;
}
.subscriptions {
    color: #a7a7a7;
    font-size: 13px;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    float: left;
    margin: 0 6px 12px 6px;
    border: 1px solid #e2e2e2;
    border-width: 0 0 0 1px;
}
.data-subscriptions {
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-image: url(/images/subs.png);
    background-color: white;
    background-position-y: center;
    padding: 10px 0 10px 40px;
    display: table;
    margin-left: -40px;
    color: #a7a7a7;
}
div.info-about-subsc {
    width: 100%;
    float: left;
    color: #a7a7a7;
    font-size: 13px!important;
    margin: 10px 0 6px 0;
}
.discount {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    user-select: none;
    display: table;
    color: #a3a3a3;
    margin: 15px auto;
    opacity: .5;
}
.subscription {
    margin: 20px 0;
    display: table;
    color: #a7a7a7;
    transition: .3s;
    padding-left: 30px;
}
.testt {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
    color: #cacaca;
    float: right;
    padding: 10px 0;
    text-align: center;
    display: none;
}
.parent-compact .testt {
    display: table;
}
.testt:hover {
    color: #a7a7a7;
}
a {
    text-decoration: none;
}
.payment-subs {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
    color: #12ce88;
    cursor: pointer;
}
.payment-subs .debt {
    font-size: 11px;
    margin-left: 1px;
}
.subscription>* {
    transition: .3s;
}
.subscription>*:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    color: #313131 !important;
}
.more-subscriptions {
    color: #a7a7a7;
    font-size: 13px;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    float: left;
    padding-left: 17px;
    background-image: url(/images/25996.png);
    margin-top: 30px;
    background-position-y: center;
    margin-left: -6px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 9px;
    cursor: pointer;
}
.unsubscribe {
    color: #ff7375;
}
.subscribe {
    color: #12ce88;
}
.unsubscribe, .subscribe {
    font-size: 11px;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    float: left;
    margin: 0 0 20px 0;
    cursor: pointer;
    opacity: .5;
    user-select: none;
    width: 100%;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 600;
}
.unsubscribe:hover, .subscribe:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    opacity: 1;
}
.subscription:nth-last-of-type(1) {
    margin-bottom: 0;
}
.message, #error_explanation {
    background-color: white;
    font-size: 15px;
    border-radius: 0 15px 15px 15px;
    position: fixed;
    left: 30px;
    z-index: 4;
    top: 100px;
    max-width: 190px;
    padding: 10px 20px;
    overflow: hidden;
    color: #171717;
}
.status-complet {
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
}
.completed {
    background-color: #12ce88;
}
.not-completed {
    background-color: #ff7375;
}
.card-search {
    font-size: 18px;
    margin: 30px 0 10px 0;
    box-sizing: border-box;
    padding: 0 30px;
    border: 0;
    outline: none;
    background-color: #ecf0f1;
}
.btns-card.right-btns-card {
    top: 0;
    width: 36px;
    left: auto;
    right: 0;
    position: fixed;
}
.right-btns-card>* {
    margin: 0!important;
    float: left!important;
}
.icon-edit {
    background-image: url(/images/edit.png);
}
.people-archive {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    background-image: url(/images/archive.png);
    background-origin: content-box;
    position: absolute;
    padding: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.name-content {
    font-size: 14px;
    color: #252525;
    margin-bottom: 2px;
}
.left-content>span {
    font-size: 11px;
    color: #545454;
}
.left-content {
    float: left;
    margin: 13px 0px 0 20px;
}
.right-content {
    float: right;
}
.right-content>.amount {
    margin: 22px 10px 22px 0;
    display: table;
}
.btn-card.btn-show-list {
    background-image: url(/images/still-dark.png);
    width: 14px;
    height: 14px;
    padding: 11px;
}
.icon-arroy {
    float: left;
    background-image: url(/images/Up_Arrow_12.png);
    width: 14px;
    height: 14px;
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.panel-show {
    position: absolute;
    background-color: white;
    top: 10px;
    left: 10px;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 7px;
    display: none;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.5)!important;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
    z-index: 999;
    user-select: none;
    min-width: 190px;
    max-height: 60vh;
    overflow-y: overlay;
}
.panel-show>* {
    color: #494949;
    padding: 10px 20px;
    float: left;
    cursor: pointer;
}
.panel-show>*:hover {
    background-color: #ecf0f1;
}
.btns-card.right-btns-card>.panel-show {
    left: 40px;
}
.top-scroll {
    background-image: url(/images/arrows.png);
    display: none;
}
.btns-card.right-btns-card>.top-scroll {
    display: block;
}
.add-avatar canvas {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 999;
}
.add-avatar:hover canvas {
    opacity: .8;
}
.still-card {
    background-image: url(/images/still-dark.png);
    float: right;
    width: 12px;
    height: 12px;
    padding: 10px 0 10px 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-origin: content-box;
    opacity: .5;
}

.block-information>h3>div {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 1px;
    margin-right: 8px;
}
.icon-user {
    background-image: url(/images/user.png);
}

.icon-employees {
    background-image: url(/images/teacher.png);
}
.icon-time {
    background-image: url(/images/time-left.png);
}
.icon-list {
    background-image: url(/images/list.png);
}
.left-side-elem>img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 3px 8px 3px 0;
    background-color: #e2e4e8;
}
.left-side-elem>* {
    float: left;
}
.left-side-elem>div {
    margin: 6px 0 5px;
}
.left-side-elem {
    color: #4a4a4a;
    font-size: 14px;
    float: left;
    cursor: pointer;
    min-width: 100px;
}
.item-element {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.rigth-side-elem {
    float: right;
    font-style: italic;
    color: #a7a7a7;
    font-size: 12px;
    line-height: 2.4;
}
.link-style {
    color: #4285f4;
}
.container-information {
    width: 100%;
    float: left;
    margin-top: 5px;
}
.block-information>h3>span {
    float: right;
    opacity: .5;
}
.rigth-side-elem>select {
    background: #e7e7e7;
    border: 0;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}
.testt.compact {
    display: block;
}
.text-input a, a.img-input {
    color: #4285f4;
}
.img-input {
    float: right;
    color: #4a4a4a;
    margin: 9px 0;
    font-size: 14px;
}
.img-input>img {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    margin-right: 8px;
}
.item-element .panel-show {
    top: 0;
    left: 70px;
}
.btn-subs {
    color: white;
    background: #3b89d1;
    background-image: linear-gradient(to left top,rgba(171,142,205,0) 0,#88c5fd 100%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 11px 24px;
    border-radius: 7px;
    margin: 0 auto 20px;
    opacity: .5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-select: none;
    display: table;
}
.panel-attachment {
    background-color: #ecf0f1;
    display: block;
    padding: 20px;
    border-radius: 7px;
    margin-top: 10px;
    min-width: 205px;
}
.input-attachment {
    margin-bottom: 10px;
    background: #ffffff;
    border: 0;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
}
input.input-attachment {
    width: 200px;
}
.completed-records {
    color: #12ce88;
    text-align: center;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
}
.title-section {
    user-select: none;
    cursor: default;
    font-size: 12px;
    text-transform: uppercase;
    color: #939598;
    font-family: RobotoMedium;
    margin: 0 16px 16px 16px;
}
.left-side-elem:hover>.panel-show, .btn-show-list:hover>.panel-show {
    display: grid!important;
}
.finput {
    width: 100%;
    position: relative;
    display: inline-flex;
    margin: 10px 0;
    padding-top: 5px;
}
.finput .finput-label {
    width: 100%;
    padding: 9px 0 13px 0;
    font-size: 14px;
    color: #a5a5a5;
    user-select: none;
}
.finput>* {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    -webkit-transition-property: color,bottom,transform;
    transition-property: color,bottom,transform;
}
.finput-input {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #efefef;
    outline: 0;
    padding: 8px 0;
    font-size: 14px;
    color: transparent;
}
.focus.finput .finput-input {
    color: black;
}
.focus.finput .finput-label {
    -webkit-transform: scale(.75) translateY(-30px);
    transform: scale(.75) translateY(-30px);
    color: #3b89d1;
}
.focus.finput .finput-input:focus {
    border-bottom: 2px solid #3b89d1;
    padding: 7px 0;
}
.btns-confirm {
    margin: 15px auto 0;
    display: table;
}
.panel-attachment .finput-input {
    border-color: #d5d8da;
}
.btn-no {
    background-color: #ff7375;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-image: url(/images/plus.png);
    box-shadow: -1px 1px 6px 0 rgba(0, 0, 0, 0.4);
}
.show-and-hide-panel {
    display: none;
}
.link-to {
    color: #4285f4;
    font-size: 14px;
    text-align: center;
}
.btn-fix {
    position: fixed;
    bottom: 70px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
}

.block-visit .item-element:nth-of-type(1) {
    display: block!important;
}
.title-discount {
    background-image: url(/images/discount.png);
    background-size: 11px 11px;
    background-repeat: no-repeat;
    padding-left: 17px;
    background-position-y: center;
    user-select: none;
}
.left-side-elem .amount {
    /*line-height: 1.95;*/
}
.current-object.mini {
    width: 36px;
    height: 36px;
    right: 30px;
    top: 40px;
    left: auto;
    bottom: auto;
}
.current-object.mini .object-avatar {
    box-shadow: none;
}
.current-object.mini .object-info {
    left: auto;
    right: 50px;
    top: 0;
}
.current-object.mini .object-info .name-people {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}



.camera-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.panel-video {
  z-index: 1;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  user-select: none;
  box-shadow: 0 0 120px 40px rgba(0, 0, 0, 0.57);
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
}
.contur-video {
    width: 294px;
    height: 294px;
    position: absolute;
    z-index: 1;
    border: 3px dashed rgba(192, 192, 192, 0.2);
    border-radius: 50%;
}
.panel-video #camera-stream {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#btn-camera-off {
    color: white;
}
.btns-camera .btn {
    float: left;
    margin: 0 10px;
}
.btns-camera {
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    margin: 133px 66px 0 66px;
    display: table;
}

.icon-camera {
    background-image: url(/images/camera.png);
}

.icon-back {
    background-image: url(/images/back.png);
}
.show-content {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
    color: #cacaca;
    padding: 10px 0;
    cursor: pointer;
}
.show-content:hover {
    color: #a7a7a7;
}
.btn-add-home {
    color: white;
    background: #3b89d1;
    background-image: linear-gradient(to left top,rgba(171,142,205,0) 0,#88c5fd 100%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 11px 24px;
    border-radius: 7px;
    opacity: 1;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-select: none;
    display: table;
}
.btn-show-list {
    position: relative;
}
.active-company>.message {
    position: relative;
    margin-top: 20px;
    left: 0;
    top: 0;
}
.panel-show>*>img {
  width: 14px;
  margin-right: 16px;
}
.current-object .img-input {
  float: left;
}
.active-company:hover {
    z-index: 8;
}
.mini:hover {
    z-index: 9;
}
.name-company {
    background-size: 8px 6px;
    background-repeat: no-repeat;
    background-image: url(/images/arrow-bottom.png);
    padding-right: 15px;
    background-position: right center;
}
.show-container {
    display: table;
    width: 100%;
}
.show-container>.btn-show-panel {
    display: none;
}
.show-container>.show-and-hide-panel {
    display: block;
}
.icon-affiliate {
    background-image: url(/images/workflow.png);
}
.number-people {
    background-size: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 14px;
    background-image: url(/images/visitors1.png);
    background-position: left center;
}


a.logo {
    z-index: 99;
    display: table;
    width: 32px;
    height: 32px;
    margin: 5px 0;
    top: 20px;
    left: 0;
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
    margin-bottom: 0px;
    float: left;
}
.logo>img {
    width: 100%;
}
a.logo:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.search-icon {
    width: 16px;
    height: 16px;
    margin: 27px 35px;
    opacity: 0.4;
    float: left;
    position: absolute;
}