@media (max-width: 960px) {
    .copyright {
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .active-company {
        top: 70px;
    }
    .message {
        top: 130px;
    }
}
@media (max-width: 800px) {
    .footer {
        display: none;
    }
    .active-company, .current-object.mini {
        top: 20px;
    }
    .message {
        top: 70px;
    }
    .open-tabs>div>div>div {
        margin-left: 20px!important;
    }
}
@media (max-width: 550px) {
    .katalog {
        width: 100%;
        border-radius: 0;
    }
    .current-object {
        right: auto;
        left: 40px;
    }
    .current-object.mini .object-info .name-people {
        display: none;
    } 
}
@media (max-width: 415px) {
    .card {
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 250px;
    }
}