
      <div class="block-information show-hide-panel">
        <h3><div class="icon-employees"></div>Ответственные <span>2</span></h3>
          <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <div class="item-element">
            <div class="left-side-elem">
                <img src="/resources/no-image-available.png">
                <div>Агаева Патимат</div>
                <div class="panel-show">
                    <div>Открыть карту</div>
                    <div>Заморозить выплаты</div>
                    <div>Редактировать пункт</div>
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">4 500 ₽ (35%)</div>
          </div>
          <div class="item-element">
            <div class="left-side-elem">
                <img src="/resources/no-image-available.png">
                <div>Улубекова Зубруд</div>
                <div class="panel-show">
                    <div>Открыть карту</div>
                    <div>Заморозить выплаты</div>
                    <div>Редактировать пункт</div>
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">5 000 ₽ (фикси.)</div>
          </div>
        </div>
        <div class="add-discount">+ Добавить</div>
      </div>

      <div class="block-information show-hide-panel">
        <h3><div class="icon-time"></div>График посещений <span>2</span></h3>
          <div class="btn-compact click-compact"><div></div></div>

        <div class="container-information compact">
          <div class="item-element">
            <div class="left-side-elem">
                <div>В понедельник</div>
                <div class="panel-show">
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">с 12:00 по 15:00</div>
          </div>
          <div class="item-element">
            <div class="left-side-elem">
                <div>Во вторник</div>
                <div class="panel-show">
                    <div>Удалить пункт</div>
                </div>
            </div>
            <div class="rigth-side-elem">с 12:00 по 15:00</div>
          </div>
        </div>
        <div class="add-discount">+ Добавить</div>
      </div>