<div class="block-information parent-compact block-visit show-hide-panel">
  <h3><div class="icon-time"></div>Время посещения <span>4</span></h3>
    <div class="btn-compact click-compact"><div></div></div>

  <div class="container-information">
      <div class="item-element compact">
        <div class="left-side-elem">
            <div>Сегодня</div>
            <div class="panel-show">
                <div>Открыть карту</div>
                <div>Отменить</div>
            </div>
        </div>
        <div class="rigth-side-elem">в 12:00 до 15:00</div>
      </div>
      <div class="item-element compact">
        <div class="left-side-elem">
            <div>Завтра</div>
            <div class="panel-show">
                <div>Открыть карту</div>
                <div>Отменить</div>
            </div>
        </div>
        <div class="rigth-side-elem">в 12:00 до 15:00</div>
      </div>
      <div class="item-element compact">
        <div class="left-side-elem">
            <div>Послезавтра</div>
            <div class="panel-show">
                <div>Открыть карту</div>
                <div>Отменить</div>
            </div>
        </div>
        <div class="rigth-side-elem">в 12:00 до 15:00</div>
      </div>
      <div class="item-element compact">
        <div class="left-side-elem">
            <div>21 августа 2018</div>
            <div class="panel-show">
                <div>Открыть карту</div>
                <div>Отменить</div>
            </div>
        </div>
        <div class="rigth-side-elem">в 12:00 до 15:00</div>
      </div>
  </div>
  <div class="add-discount">+ Добавить</div>
</div>