<div class="title-panel">
  <div class="btns-card" style="position: absolute;">
    <%= link_to company_records_path(@current_company), class: "btn-card", style: "float: left;" do %>
      <ion-icon name="arrow-back"></ion-icon>
    <% end %>
    <div class="btn-card top-scroll"></div>
  </div>
  <div class="title-card">Добавление групповой записи</div>
</div>

<%= render 'form', record: @record %>