<div class="title-panel">
	<div class="btns-card">
	  <a href="<%=root_path%>" title="Закрыть" class="btn-card icon-closed-card"></a>
	  <a href="<%=root_path%>" title="На главную" class="btn-card icon-home"></a>      
      
      <div class="btn-card top-scroll"></div>

      <div class="btn-card btn-show-list"></div>
      <div class="panel-show">
        <%= link_to 'Вернуться к списку', company_records_path(params[:company_id]) %>
      </div>
	</div>
    <div class="title-card">Добавление групповой записи</div>
</div>

<%= render 'form', record: @record %>