<div class="open-tabs">
  <div>
    <div>
      <div style="display: flex;">
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
        <div class="open-object">
          <img src="/resources/no-image-available.png" />
          <span>Магомедов Магомед</span>
        </div>
      </div>
    </div>
  </div>
</div>