<div 
  @click='cancelPanels()' 
  v-if='panelAddCategory != null' 
  id='pnls-add' 
  class='pnls-add'>

  <add-transaction
    v-on:cancel-panel="panelAddCategory = null"
    v-if='panelAddCategory == "transaction"'
    :arr-tree="[categoriesTreeIncome, categoriesTreeExpense]"
    :affiliates="affiliates"
    :clients="clients"
    :people="people"
    :category-id="categoryId"
  ></add-transaction>

  <add-category 
    v-if='panelAddCategory == "services"' 
    :placeholder='"Название услуги"' 
    :panel-add-category='panelAddCategory' 
    v-on:cancel-panel="panelAddCategory = null"
    :arr-tree="[services]"
  ></add-category>

  <add-category 
    v-else-if='panelAddCategory == "categories"' 
    :placeholder='"Название категории"' 
    :panel-add-category='panelAddCategory' 
    v-on:cancel-panel="panelAddCategory = null"
    :arr-tree="[categoriesTreeIncome, categoriesTreeExpense]"
  ></add-category>
</div>

<%= render 'layouts/panels_add_categories' %>
<%= render 'layouts/panels_add_transaction' %>

<script type="text/javascript">
  var vmPanelsAdd = new Vue({
    el: '#pnls-add',
    data: {
      panelAddCategory: null,
      categoryId: null,
      budget: '',
      categories: [],
      affiliates: [],
      clients: [],
      people: {},
    },
    methods: {
      cancelPanels() {
        var cancelPanels = $('.pnl-add1');
        $(document).mouseup(function (e) {
          if(!$(e.target).closest(".pnl-add1").length) {
            vmPanelsAdd.panelAddCategory = null;
          }
        });
      },
    },
    watch: {
      panelAddCategory() {
        if(this.panelAddCategory == 'services') {
          this.budget = 'income';
          this.categoryId = 1;
        }
        else {
          this.budget = '';
          this.categoryId = null;
        }
      },
    },
    computed: {
      services() {
        var categories = vmPanelsAdd.categories.filter(c => c.budget == 'income');

        return {
          value: { name: 'Доход', id: 0, budget: 'income' },
          children: buildHierarchy(categories)
        }.children[0]
      },
      categoriesTreeIncome() {
        var categories = vmPanelsAdd.categories.filter(c => c.budget == 'income');

        return {
          value: { name: 'Доход', id: 0, budget: 'income' },
          children: buildHierarchy(categories)
        }
      },
      categoriesTreeExpense() {
        var categories = vmPanelsAdd.categories.filter(c => c.budget == 'expense');

        return {
          value: { name: 'Расход', id: 0, budget: 'expense' },
          children: buildHierarchy(categories)
        }
      }
    },
    created() {
      $.get('/get_data.json', data => {
        this.categories = data.categories;
        this.affiliates = data.affiliates;
        this.clients = data.clients;
      });
    },
  });
</script>
